.Contact-list{
    background-color: rgb(1, 0, 5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.Exp-container{
    background-color: black;
    display: flex;
justify-content: center;
flex-direction: column;

}
.para-style{
    margin: 20px;
    font-weight: 600;
    font-size: 24px;
    color: rgb(19, 83, 245);
  
}
.para-styl{
    color: rgb(237, 245, 245);
    margin: 20px;
    font-weight: 600;
    font-size: 24px;
}