.Matter-container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color:rgb(8, 8, 6);
height: 100vh;
   
}
.Para{
    font-weight: 600;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   

.image-size{
    max-width: 200px;
    height:auto;
    border: 2px solid;
    border-radius: 8px;
   
    box-shadow: 0px 4px 6px rgba(red, green, blue, alpha);
}