.skill-set{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}
.skill-container{
    background-color: black;
}

.skill-list li {
    color: #fff;
    list-style: none;
    display: flex;
}
.skill-list li>.skill-name{

    font-size: 25px;
}
.skill-list li i{
     color: red;
    font-size: 10px;
    position: relative;
    top: -5px;
}


.add-button{
    padding: 10PX;
   float: right;
    border-radius: 10PX;
    border: 0px;
    background-color: aqua;
 
}
.add-butto{
    padding: 10PX;
    margin:10px ;
    border-radius: 10PX;
    border: 0px;
    background-color: aqua;
 
}